body{

background:#f6f8fb;

}

header{

display:flex;

justify-content:space-between;

align-items:center;

padding:20px 8%;

background:white;

box-shadow:0 5px 20px rgba(0,0,0,.05);

}

.logo{

display:flex;

align-items:center;

gap:10px;

}

.logo img{

width:45px;

}

.logo h2{

color:#4CAF50;

}

.header-icons{

display:flex;

gap:20px;

font-size:22px;

}

.header-icons i{

color:#444;

cursor:pointer;

transition:.3s;

}

.header-icons i:hover{

color:#4CAF50;

}

.hero{

display:flex;

justify-content:space-between;

align-items:center;

padding:60px 8%;

}

.hero-text{

width:50%;

}

.hero-text h1{

font-size:50px;

color:#222;

margin-bottom:20px;

}

.hero-text p{

color:#666;

line-height:1.8;

margin-bottom:30px;

}

.hero button{

padding:15px 40px;

background:#4CAF50;

color:white;

border:none;

border-radius:40px;

font-size:18px;

cursor:pointer;

}

.hero-image img{

width:420px;

}

.location-card{

width:84%;

margin:auto;

background:white;

padding:25px;

border-radius:20px;

display:flex;

justify-content:space-between;

align-items:center;

box-shadow:0 10px 25px rgba(0,0,0,.08);

}

.location-card .icon{

width:60px;

height:60px;

background:#E8F5E9;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

font-size:24px;

color:#4CAF50;

}

.location-card button{

background:#2196F3;

padding:12px 25px;

color:white;

border-radius:30px;

border:none;

}
