*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

background:#f7faf8;

overflow:hidden;

}

a{

text-decoration:none;

}

button{

cursor:pointer;

border:none;

outline:none;

}
